.card1 {
  width: 220px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .movie-card {
    display: flex;
    flex-direction: column;
  }

  .card1 {
    width: 160px;
    height: 20px;
    margin-bottom: 300px;
    margin-left: 10px;
  }

  .card1 img {
    height: 250px;
  }
}
