.movie-desc-top {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 50px;
  position: relative;
}

.movie-desc-top ::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.movie-detail {
  position: relative;
  color: white;
  z-index: 1;
}

.movie-desc-top button {
  background-color: rgb(248, 68, 100);
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.cast-crew {
  margin-top: 50px;
}

.cast-crew img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.thumbnail-img {
  height: 370px;
}

.card1 {
  width: 220px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .movie-detail {
    display: flex;
    flex-direction: column;
  }

  .card1 {
    width: 170px;
    height: 80px;
    margin-left: 20px;
  }

  .content-div {
    margin-top: -140px;
  }

  .movie-desc-top button {
    background-color: rgb(248, 68, 100);
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
  }

  .about-section {
    margin-top: 230px;
  }

  .cast-section {
    display: flex;
    flex-direction: column;
  }

  .cast-crew img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .cast-section div:nth-child(1) img {
    margin-left: 40px;
  }

  .cast-name {
    margin-left: -10px;
    font-size: 16px;
  }

  .cast-name1 {
    margin-left: 25px;
    font-size: 16px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .cast-crew img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-left: 50px;
  }

  .cast-name1 {
    font-size: 16px;
    text-align: center;
  }

  .cast-section div:nth-child(1) img {
    margin-left: 92px;
  }

  .cast-name {
    font-size: 16px;
    text-align: center;
  }
}
