.main-content {
  display: flex;
}

.form-content {
  margin: auto;
  margin-top: 70px;
}

input {
  width: 345px;
  padding: 5px 10px;
}

.expiry {
  width: 100px;
  padding: 10px 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .form-content {
    margin: auto;
    margin-top: 40px;
    padding: 20px;
  }
  input {
    width: 280px;
    padding: 5px 10px;
  }

  .expiry {
    width: 80px;
    padding: 5px 5px;
  }
}
